.col{
    width: 200px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 6px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto 20px;
}

.col img{
    width: 100%;
    height: 200px;
    border-radius: 6px;
}

.btn {
  text-align: center;
  text-decoration: none;
  align-items: center;
  appearance: button;
  background-color: #0276FF;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "RM Neue",sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:active {
  background-color: #006AE8;
}

.btn:hover {
  background-color: #1C84FF;
}